fieldset {
	width: 95px;
	border:2px solid #7fffd4;
}

legend {
	font-weight: bold;
	background-color: #7fffd4;
	padding: 5px;

}

label {
	width: 80px;
	background-color: #7fffd4;
	padding:5px;
	display: inline-block;
	font-weight: bold;
	text-align: right;
}

input {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #395d81;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}